:root {
    /* nơi khai báo biến css */
    --white-color : #fff;
    
    --black-color : #000;
    --text-color : #333;
    --primary-color :#2C3E50;
    --boder-color : #dbdbdb;

    --header-height : 120px;
    --navbar-height : 34px;
    --header-with-seaech-height : calc(var(--header-height) - var(--navbar-height))

}
* {
    /* quy định thuộc tính css lên tất cả các phần tử html được nhúng file base.css */
    /* inherit kế thừa từ thẻ chứa nó */
    box-sizing: inherit;
}

html {
    /* mặc định trình duyệt fontsize: 100% được hiẻu là 16px */
    font-size: 62.5%;
    /* font-size: 62.5%; lúc này 1rem là 10px dùng nó để dễ dàng tính hơn */
    line-height: 1.6rem; /* độ cao chữ */
    font-family: "Roboto", sans-serif;
    /* trong lúc font Roboto chưa tải về thì sẽ hiển thị font sans-serif
    là tập hợp những font chữ không có chân*/
    box-sizing: border-box;
}

/* reponstive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; /* canh giữa khối */
}

/* trong trường hợp không muốn sử dụng width: 1200px; thì xây dựng thêm .grid__full-width*/
.grid__full-width {
    width: 100%;

}

.grid__row {
    /* những thẻ nằm trên class này sẽ nằm trên cùng 1 hàng ngang  */
    display: flex;
    flex-wrap: wrap; /* nhảy xuống hàng */
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    /* vì 10 cột là 100% mà chia đểu cho 5 sản phẩm mỗi ông chiếm 20% */
    width: 20%;

}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;

}

/* Animasion */
/* tạo hiệu ứng mờ dần */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    /* tạo hiệu ứng phóng to lên để tái sử dụng trong chương trình */
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .1s;
    
}

.modal__overlay {
    /* trong trường hợp này là con cảu modal và lấy modal làm gốc toạ độ chính */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-from : 0.7;
    --growth-to : 1 ; /* di chuyển tù 70% đến 1 */
    margin: auto;
    position: relative;
    z-index: 1;
    /* thuộc tính z-index layout có nhiều tầng đè nhau nên ông nào có thuộc tính z-index
    cao nhất thì sẽ nằm ở lớp cao nhất*/
    
    animation: growth linear .1s;

}

/* Button style */
/* vì nút dùng cung nên viết sang file base.css */
.btn {
    color: var(--text-color);
    background-color: var(--white-color);
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    display: inline-flex; /* để nằm ngang */
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.05);
}
.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);

}

.btn.btn--disabled {
    /* Nút vô hiệu hoá */
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px #a4a4a4;
}
.select-input:hover .select-input__list {
    display: block;
}
/* làm cầu nối */
.select-input::after {
    content: "";
    position: absolute;
    display: block;
    top: 33px;
    right: 0px;
    width: 100%;
    height: 8px;
    /* background-color: #000; */
}
.select-input__icon {
    font-size: 1.4rem;
    color: #a4a4a4;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    padding: 8px 16px;
    z-index: 1;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    display: none;

}

/* panigation */
.panigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.panigation-item {
    margin: 0 10px;
}
.panigation-item__active .panigation-item__link{
    background-color: var(--primary-color);
}
.panigation-item__active .panigation-item__link:hover{
    background-color: #598bbb;
}
.panigation-item__link {
    /* set chìu ngang nhưng không có tác dụng do thẻ a không có thuộc
    tính display block */
    display: block;
    text-align: center;
    line-height: 30px;/* line height bằng với chiều cao dùng để căn giũa chiều dọc */
    text-decoration: none;
    min-width: 40px;
    height: 30px;
    font-size: 1.8rem;
    color: #939393;
    border-radius: 2px;


}
.panigation-item__icon {

}